
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #222;
    color: white;
    padding: 0 2rem 2rem 2rem;

    h1 {
        font-size: 3rem;
        margin: 4rem;
        font-family: var(--font-family2);
    }

    p {
        font-size: 1.6rem;
    }

    .dpContainer {
        gap: 2.4rem;
        display: grid;
        grid-template-columns: 1fr;
        @media screen and (min-width: 992px) {
          grid-template-columns: 1fr 1fr 1fr;
          gap: 4rem;
        }
    }

    .card {
        height: 100%;
        color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.2rem;
        background: #F2E5D9;
        border-radius: 5px;

        @media screen and (min-width: 992px) {
            transition: transform 0.8s;
            /*height: 600px;*/
            &:hover {
              transform: scale(1.1);
        
            }
          }

          img {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            height: 200px;
            width: 100%;
            object-fit: cover;
        
            @media screen and (min-width: 768px){
              height: 280px;
            }
        
        
            @media screen and (min-width: 992px) {
            height: 300px;
            }
          }
        
        
        
          h2 {
            font-weight: bold;
            margin: 1rem;
            font-size: 1.6rem;
          }
        
          p {
            margin: 0 1rem 1rem 1rem;
            font-size:1.2rem;
          }


    }

}