.main {
  height: auto;
  font-size: 1.2rem;
  background:#EBEBEB;
  color: #333;
  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: 3fr;
  grid-template-areas: "img"
              "name"
              "profil"
              "formation";

  //verifier grid-template je pense qu'il y a une erreur
  @media screen and (min-width: 992px) {
    font-size: 1.6rem;
    grid-template-columns: 2fr;
    grid-template-rows: 2fr;
    grid-template-areas: "img img"
            "name name"
                          "profil formation"
                          "profil formation";
  }

  img {
    margin: 2rem 0 0.4rem 0;
    justify-self: center;
    grid-area: img;
    height: 180px;
    width: 180px;
    border-radius: 50%;
  }

  .name {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    grid-area: name;
    margin-bottom: 1.8rem ;
  }

  .profil {
    grid-area: profil;
    margin: 1rem;

    @media screen and (min-width: 992px) {
      margin: 0 6rem;
    }

  }

  .formation {
    grid-area: formation;
    background: #fff;

    @media screen and (min-width: 992px) {
      background: #EBEBEB;
    }

  }

  i {
    color: #FF6060;
    margin-right: 1rem;
  }

}

.infoContainer {
  background: #fff;
  padding: 1rem;
  margin: 1rem 0 3rem 0;
  border-radius: 1rem;
  box-shadow: 3px 3px 5px 0 rgba(0,0,0,0.16);



  h2 {
    text-align: center;
    margin-bottom: 2rem;


  }
  li {
    margin: 1rem 0;
  }



  span {
    color: #FF6060;
    font-weight: bold;

  }

}

.formationsContainer {
  background: #EBEBEB;
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 3px 3px 5px 0 rgba(0,0,0,0.16);

  h2 {
    text-align: center;
    margin-bottom: 2rem;

  }

  @media screen and (min-width: 992px) {
    background: #fff;
  }
}

.indivFormation {
  margin: 0 1rem 4rem 1rem;
}

.diplome {
  color: #FF6060;
  margin: 1rem;
}

.dates {
  color: #999;
  margin-bottom: 0.4rem;
}

.organisme {
  color: #4a69bd;
  font-family: sans-serif;
  margin: 0 0 1.6rem 2.4rem;
}

.puce {
  list-style: inside;
   li {
     margin-bottom: 0.8rem;
   }
}

