//TODO: Enlever le gap et faire sortir mon nom et la photo de la grid

.main {
  //height: auto;
  font-size: 1.2rem;
  background:#EBEBEB;
  color: #333;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 4fr;
  grid-template-areas:
              "title"
              "profil"
              "formation"
              "button";

  //verifier grid-template je pense qu'il y a une erreur
  @media screen and (min-width: 992px) {
    gap: 4rem;
    padding: 0 4rem 4rem 4rem;
    font-size: 1.6rem;
    grid-template-columns: 2fr;
    grid-template-rows: 3fr;
    grid-template-areas:
            "title title"
                          "profil formation"
                          "profil formation"
                          "button button";
  }

  .title {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    grid-area: title;
    margin: 4rem 0 0 0;
  }

  .profil {
    grid-area: profil;
    margin: 1rem;

    @media screen and (min-width: 992px) {
      margin: 0;
    }



  }

  .formation {
    grid-area: formation;
    background:#EBEBEB;
    width: 100%;

    @media screen and (min-width: 992px) {
      background: #EBEBEB;
    }

  }



  i {
    color: #FF6060;
    margin-right: 1rem;
  }

}

.infoContainer {
  background: #fff;
  padding: 1rem;
  margin: 1rem 0 3rem 0;
  border-radius: 1rem;
  box-shadow: 3px 3px 5px 0 rgba(0,0,0,0.16);

  @media screen and (min-width: 992px) {
    margin: 0 0 3rem 0;;
  }

  img {
    display: block;
    margin: 0 auto 1.6rem auto;
    height: 180px;
    width: 180px;
    border-radius: 50%;
  }

  h2 {
    text-align: center;
    margin-bottom: 2rem;


  }
  li {
    margin: 1rem 0;
  }


  span {
    color: #FF6060;
    font-weight: bold;

    &:first-child {
      text-align: center;
    }
  }

}

.formationsContainer {
  background: #fff;
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 3px 3px 5px 0 rgba(0,0,0,0.16);

  h2 {
    text-align: center;
    margin-bottom: 2rem;

  }

  @media screen and (min-width: 992px) {
    background: #fff;
    margin: 0;
  }
}

.indivFormation {
  margin: 0 1rem 4rem 1rem;
}

.diplome {
  color: #FF6060;
  margin: 1rem;
}

.dates {
  color: #999;
  margin-bottom: 0.4rem;
}

.organisme {
  color: #4a69bd;
  font-family: sans-serif;
  margin: 0 0 1.6rem 2.4rem;
}

.puce {
  list-style: inside;
   li {
     margin-bottom: 0.8rem;
   }
}



