.bar {
  position: relative;
  margin: 1rem 0;
  border: 2px solid #333;
  height: 8px;
  width: 65%;
  border-radius: 20px;
}

.progress {
  background: #4a69bd;
  position: absolute;
  left: 0;
  height: 100%;
}



