@font-face {
  font-family: Art;
  src: local(Ageya-Regular), url("../fonts/37 Slack/Slack-Light.otf") format("opentype");
}
@font-face {
  font-family: BEBAS NEUE;
  src: local(BebasNeue-Regular), url("../fonts/bebas-neue/BebasNeue-Regular.otf");
}