.portfolio {
  a{

  }
  h1 {
    font-weight: bold;
    font-size: 3rem;
    @media screen and (min-width: 992px){
      font-size: 4rem;
    }
  }
  color: white;
  background: #222;
  padding: 2rem;

  @media screen and (min-width: 768px){
    padding: 4rem;
  }
}

.cardContainer {
  gap: 2.4rem;
  display: grid;
  grid-template-columns: 1fr;
  @media screen and (min-width: 992px) {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4rem;
  }
}
